@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  background-color: #ffffff !important;
  scroll-behavior: smooth;
}

html {
  font-family: "Inter", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}

@font-face {
  font-family: "GoldmanBold";
  src: local("GoldmanBold"), url("../fonts/Joyride-STD.otf") format("truetype");
  font-weight: bold;
}

h1 {
  font-weight: 600 !important;
  font-size: 60px !important;
  line-height: 100% !important;
  font-family: "GoldmanBold" !important;
  margin: 0;
  @media only screen and (max-width: 768px) {
    font-size: 40px !important;
  }
}

h2 {
  font-weight: 600 !important;
  font-size: 40px !important;
  line-height: 1em !important;
  font-family: "GoldmanBold" !important;
  margin: 0;
  @media only screen and (max-width: 768px) {
    font-size: 30px !important;
  }
}

h3 {
  font-weight: 700 !important;
  font-size: 30px !important;
  line-height: 130% !important;
  font-family: "Inter", sans-serif !important;
  margin: 0;
  @media only screen and (max-width: 768px) {
    font-size: 20px !important;
  }
}

h4 {
  font-weight: 400 !important;
  font-size: 20px !important;
  line-height: 120% !important;
  font-family: "Inter", sans-serif !important;
  margin: 0;
  @media only screen and (max-width: 768px) {
    font-size: 16px !important;
  }
}

h5 {
  font-weight: 600 !important;
  font-size: 18px !important;
  line-height: 1em !important;
  margin: 0;
  font-family: "Inter", sans-serif !important;
}

h6 {
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 1em !important;
  margin: 0;
  font-family: "Inter", sans-serif !important;
}

p {
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 130% !important;
  font-family: "Inter", sans-serif !important;
  margin: 0;
  @media only screen and (max-width: 768px) {
    font-size: 14px !important;
  }
}

a {
  font-size: 14px !important;
  font-weight: 700 !important;
  font-family: "Inter", sans-serif !important;
}

.certifications_container {
  .rec-pagination {
    padding-top: 2rem;
    .rec-dot_active {
      width: 100px !important;
      height: 20px;
      border-radius: 15px !important;
    }
    .rec-dot {
      background: black;
      box-shadow: none;
      width: 20px;
      height: 20px;
    }
  }
}

.testimonials_container {
  .rec-pagination {
    .rec-dot {
      background: rgb(166, 165, 165);
      box-shadow: none;
      width: 10px;
      height: 10px;
    }
    .rec-dot_active {
      background: black;
    }
  }
}

.portfolio_container {
  .rec-item-wrapper {
    height: 100% !important;
  }
}

@media only screen and (max-width: 768px) {
  .mobile_none {
    display: none !important;
  }
}

@media only screen and (min-width: 769px) {
  .desktop_none {
    display: none !important;
  }
}
