@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Knewave&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  background-color: #ffffff !important;
}

html {
  font-family: "GoldmanBold" !important;
}

a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}

@font-face {
  font-family: "GoldmanBold";
  src: local("GoldmanBold"), url("../fonts/Joyride-STD.otf") format("truetype");
  font-weight: bold;
}

h1 {
  font-weight: 600 !important;
  font-size: 100px !important;
  line-height: 100% !important;
  font-family: "GoldmanBold" !important;
  @media only screen and (max-width: 768px) {
    font-size: 40px !important;
  }
}

h2 {
  font-weight: 600 !important;
  font-size: 42px !important;
  line-height: 1em !important;
  font-family: "GoldmanBold" !important;
  @media only screen and (max-width: 768px) {
    font-size: 30px !important;
  }
}

h3 {
  font-weight: 700 !important;
  font-size: 40px !important;
  line-height: 130% !important;
  font-family: "GoldmanBold" !important;
  @media only screen and (max-width: 768px) {
    font-size: 20px !important;
  }
}

h4 {
  font-weight: 600 !important;
  font-size: 20px !important;
  line-height: 1em !important;
  font-family: "GoldmanBold" !important;
}

h5 {
  font-weight: 600 !important;
  font-size: 18px !important;
  line-height: 1em !important;
  font-family: "Knewave", cursive !important;
}

h6 {
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 1em !important;
  font-family: "GoldmanBold" !important;
}

p {
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 130% !important;
  font-family: "GoldmanBold" !important;
  @media only screen and (max-width: 768px) {
    font-size: 14px !important;
  }
}
